{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"proseWrap": "always",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"insertPragma": false,
	"vueIndentScriptAndStyle": false,
	"singleAttributePerLine": false,
	"plugins": ["prettier-plugin-tailwindcss"]
}
