@theme {
	--background: #fff;
	--background-subtle: #fafafa;
	--bg-1: #fff;
	--bg-2: #f5f5f5;
	--bg-3: #f0f0f0;
	--bg-4: #e8e8e8;
	--fg-1: #b3b3b3;
	--fg-2: #999;
	--fg-3: #666;
	--fg-4: #181925;
	--bg-a1: #00000008;
	--bg-a2: #0000000d;
	--bg-a3: #00000014;
	--bg-a4: #0000001f;
	--fg-a1: #0000004d;
	--fg-a2: #0006;
	--fg-a3: #0009;
	--fg-a4: #181925e0;
	--gray-1: #f7f7f7;
	--gray-2: #e0e0e0;
	--gray-3: #ccc;
	--gray-4: #b3b3b3;
	--gray-a1: #00000008;
	--gray-a2: #0000001a;
	--gray-a3: #0003;
	--gray-a4: #0000004d;
	--blue-1: #f0fbff;
	--blue-2: #c2f1ff;
	--blue-3: #4cd5ff;
	--blue-4: #00c4ff;
	--red-1: #fff3f0;
	--red-2: #ffe2db;
	--red-3: #ffd5cc;
	--red-4: #ff2f00;
	--green-1: #effbf2;
	--green-2: #c2efcd;
	--green-3: #71da8b;
	--green-4: #33c758;
	--amber-1: #fff8eb;
	--amber-2: #ffeac2;
	--amber-3: #ffc65c;
	--amber-4: #ffa600;
	--purple-1: #f1f1fe;
	--purple-2: #dad9fc;
	--purple-3: #b5b3f9;
	--purple-4: #918df6;
	--sky-1: #ebf2ff;
	--sky-2: #bed5fe;
	--sky-3: #689ffd;
	--sky-4: #2c78fc;
	--yellow-1: #fffdeb;
	--yellow-2: #fff6b3;
	--yellow-3: #ffec5c;
	--yellow-4: #f5d90a;
	--pink-1: #fff0f9;
	--pink-2: #ffc2e9;
	--pink-3: #f075c3;
	--pink-4: #d6409f;
	--orange-1: #fff6f0;
	--orange-2: #ffdac2;
	--orange-3: #ffa366;
	--orange-4: #f76808;
	--blue-a1: #00c4ff14;
	--blue-a2: #00c4ff29;
	--blue-a3: #00c4ff66;
	--blue-a4: #00c4ff;
	--red-a1: #ff2f0014;
	--red-a2: #ff2f0029;
	--red-a3: #ff2f0066;
	--red-a4: #ff2f00;
	--green-a1: #33c75814;
	--green-a2: #33c75829;
	--green-a3: #33c75866;
	--green-a4: #33c758;
	--amber-a1: #ffa60014;
	--amber-a2: #ffa60029;
	--amber-a3: #ffa60066;
	--amber-a4: #ffa600;
	--purple-a1: #918df614;
	--purple-a2: #918df629;
	--purple-a3: #918df666;
	--purple-a4: #918df6;
	--sky-a1: #2c78fc14;
	--sky-a2: #2c78fc29;
	--sky-a3: #2c78fc66;
	--sky-a4: #2c78fc;
	--yellow-a1: #f5d90a14;
	--yellow-a2: #f5d90a29;
	--yellow-a3: #f5d90a66;
	--yellow-a4: #f5d90a;
	--pink-a1: #d6409f14;
	--pink-a2: #d6409f29;
	--pink-a3: #d6409f66;
	--pink-a4: #d6409f;
	--orange-a1: #f7680814;
	--orange-a2: #f7680829;
	--orange-a3: #f7680866;
	--orange-a4: #f76808;
	--radius-1: 0.125rem;
	--radius-2: 0.25rem;
	--radius-3: 0.375rem;
	--radius-4: 0.5rem;
	--radius-5: 0.75rem;
	--radius-6: 1rem;

	--color-background: var(--background);
	--color-background-subtle: var(--background-subtle);
	--color-bg-1: var(--bg-1);
	--color-bg-2: var(--bg-2);
	--color-bg-3: var(--bg-3);
	--color-bg-4: var(--bg-4);
	--color-fg-1: var(--fg-1);
	--color-fg-2: var(--fg-2);
	--color-fg-3: var(--fg-3);
	--color-fg-4: var(--fg-4);
	--color-bg-a1: var(--bg-a1);
	--color-bg-a2: var(--bg-a2);
	--color-bg-a3: var(--bg-a3);
	--color-bg-a4: var(--bg-a4);
	--color-fg-a1: var(--fg-a1);
	--color-fg-a2: var(--fg-a2);
	--color-fg-a3: var(--fg-a3);
	--color-fg-a4: var(--fg-a4);
	--color-gray-1: var(--gray-1);
	--color-gray-2: var(--gray-2);
	--color-gray-3: var(--gray-3);
	--color-gray-4: var(--gray-4);
	--color-gray-a1: var(--gray-a1);
	--color-gray-a2: var(--gray-a2);
	--color-gray-a3: var(--gray-a3);
	--color-gray-a4: var(--gray-a4);
	--color-blue-1: var(--blue-1);
	--color-blue-2: var(--blue-2);
	--color-blue-3: var(--blue-3);
	--color-blue-4: var(--blue-4);
	--color-red-1: var(--red-1);
	--color-red-2: var(--red-2);
	--color-red-3: var(--red-3);
	--color-red-4: var(--red-4);
	--color-green-1: var(--green-1);
	--color-green-2: var(--green-2);
	--color-green-3: var(--green-3);
	--color-green-4: var(--green-4);
	--color-amber-1: var(--amber-1);
	--color-amber-2: var(--amber-2);
	--color-amber-3: var(--amber-3);
	--color-amber-4: var(--amber-4);
	--color-purple-1: var(--purple-1);
	--color-purple-2: var(--purple-2);
	--color-purple-3: var(--purple-3);
	--color-purple-4: var(--purple-4);
	--color-sky-1: var(--sky-1);
	--color-sky-2: var(--sky-2);
	--color-sky-3: var(--sky-3);
	--color-sky-4: var(--sky-4);
	--color-yellow-1: var(--yellow-1);
	--color-yellow-2: var(--yellow-2);
	--color-yellow-3: var(--yellow-3);
	--color-yellow-4: var(--yellow-4);
	--color-pink-1: var(--pink-1);
	--color-pink-2: var(--pink-2);
	--color-pink-3: var(--pink-3);
	--color-pink-4: var(--pink-4);
	--color-orange-1: var(--orange-1);
	--color-orange-2: var(--orange-2);
	--color-orange-3: var(--orange-3);
	--color-orange-4: var(--orange-4);
	--color-blue-a1: var(--blue-a1);
	--color-blue-a2: var(--blue-a2);
	--color-blue-a3: var(--blue-a3);
	--color-blue-a4: var(--blue-a4);
	--color-red-a1: var(--red-a1);
	--color-red-a2: var(--red-a2);
	--color-red-a3: var(--red-a3);
	--color-red-a4: var(--red-a4);
	--color-green-a1: var(--green-a1);
	--color-green-a2: var(--green-a2);
	--color-green-a3: var(--green-a3);
	--color-green-a4: var(--green-a4);
	--color-amber-a1: var(--amber-a1);
	--color-amber-a2: var(--amber-a2);
	--color-amber-a3: var(--amber-a3);
	--color-amber-a4: var(--amber-a4);
	--color-purple-a1: var(--purple-a1);
	--color-purple-a2: var(--purple-a2);
	--color-purple-a3: var(--purple-a3);
	--color-purple-a4: var(--purple-a4);
	--color-sky-a1: var(--sky-a1);
	--color-sky-a2: var(--sky-a2);
	--color-sky-a3: var(--sky-a3);
	--color-sky-a4: var(--sky-a4);
	--color-yellow-a1: var(--yellow-a1);
	--color-yellow-a2: var(--yellow-a2);
	--color-yellow-a3: var(--yellow-a3);
	--color-yellow-a4: var(--yellow-a4);
	--color-pink-a1: var(--pink-a1);
	--color-pink-a2: var(--pink-a2);
	--color-pink-a3: var(--pink-a3);
	--color-pink-a4: var(--pink-a4);
	--color-orange-a1: var(--orange-a1);
	--color-orange-a2: var(--orange-a2);
	--color-orange-a3: var(--orange-a3);
	--color-orange-a4: var(--orange-a4);
}

@layer base {
	.dark {
		--background: #14141f;
		--background-subtle: #181925;
		--bg-1: #181925;
		--bg-2: #212131;
		--bg-3: #2b2c3b;
		--bg-4: #333447;
		--fg-1: #73748c;
		--fg-2: #9192a1;
		--fg-3: #bbbcc3;
		--fg-4: #eaeaeb;
		--bg-a1: #cccfff14;
		--bg-a2: #cccfff1a;
		--bg-a3: #cccfff24;
		--bg-a4: #cccfff33;
		--fg-a1: #ffffff4d;
		--fg-a2: #fff6;
		--fg-a3: #ffffffa6;
		--fg-a4: #ffffffeb;
		--gray-1: #1d1d20;
		--gray-2: #4e4e56;
		--gray-3: #61616b;
		--gray-4: #898a94;
		--gray-a1: #ffffff08;
		--gray-a2: #ffffff1a;
		--gray-a3: #ffffff2e;
		--gray-a4: #ffffff38;
		--blue-1: #002733;
		--blue-2: #003b4d;
		--blue-3: #0089b3;
		--blue-4: #00c4ff;
		--red-1: #330900;
		--red-2: #4d0e00;
		--red-3: #b32100;
		--red-4: #ff2f00;
		--green-1: #0a2912;
		--green-2: #134920;
		--green-3: #258e3f;
		--green-4: #33c758;
		--amber-1: #332100;
		--amber-2: #4d3200;
		--amber-3: #b37400;
		--amber-4: #ffa600;
		--purple-1: #05042f;
		--purple-2: #080547;
		--purple-3: #1710d5;
		--purple-4: #9580ff;
		--sky-1: #011332;
		--sky-2: #011c4b;
		--sky-3: #034cc9;
		--sky-4: #2c78fc;
		--yellow-1: #332d00;
		--yellow-2: #4d4400;
		--yellow-3: #b39e00;
		--yellow-4: #f5d90a;
		--pink-1: #330020;
		--pink-2: #4d0030;
		--pink-3: #b8147c;
		--pink-4: #d6409f;
		--orange-1: #331400;
		--orange-2: #4d1f00;
		--orange-3: #cc5200;
		--orange-4: #f76808;
		--blue-a1: #00c4ff14;
		--blue-a2: #00c4ff29;
		--blue-a3: #00c4ff66;
		--blue-a4: #00c4ff;
		--red-a1: #ff2f0014;
		--red-a2: #ff2f0029;
		--red-a3: #ff2f0066;
		--red-a4: #ff2f00;
		--green-a1: #33c75814;
		--green-a2: #33c75829;
		--green-a3: #33c75866;
		--green-a4: #33c758;
		--amber-a1: #ffa60014;
		--amber-a2: #ffa60029;
		--amber-a3: #ffa60066;
		--amber-a4: #ffa600;
		--purple-a1: #918df614;
		--purple-a2: #918df629;
		--purple-a3: #918df666;
		--purple-a4: #9580ff;
		--sky-a1: #2c78fc14;
		--sky-a2: #2c78fc29;
		--sky-a3: #2c78fc66;
		--sky-a4: #2c78fc;
		--yellow-a1: #f5d90a14;
		--yellow-a2: #f5d90a29;
		--yellow-a3: #f5d90a66;
		--yellow-a4: #f5d90a;
		--pink-a1: #d6409f14;
		--pink-a2: #d6409f29;
		--pink-a3: #d6409f66;
		--pink-a4: #d6409f;
		--orange-a1: #f7680814;
		--orange-a2: #f7680829;
		--orange-a3: #f7680866;
		--orange-a4: #f76808;

		--color-background: var(--background);
		--color-background-subtle: var(--background-subtle);
		--color-bg-1: var(--bg-1);
		--color-bg-2: var(--bg-2);
		--color-bg-3: var(--bg-3);
		--color-bg-4: var(--bg-4);
		--color-fg-1: var(--fg-1);
		--color-fg-2: var(--fg-2);
		--color-fg-3: var(--fg-3);
		--color-fg-4: var(--fg-4);
		--color-bg-a1: var(--bg-a1);
		--color-bg-a2: var(--bg-a2);
		--color-bg-a3: var(--bg-a3);
		--color-bg-a4: var(--bg-a4);
		--color-fg-a1: var(--fg-a1);
		--color-fg-a2: var(--fg-a2);
		--color-fg-a3: var(--fg-a3);
		--color-fg-a4: var(--fg-a4);
		--color-gray-1: var(--gray-1);
		--color-gray-2: var(--gray-2);
		--color-gray-3: var(--gray-3);
		--color-gray-4: var(--gray-4);
		--color-gray-a1: var(--gray-a1);
		--color-gray-a2: var(--gray-a2);
		--color-gray-a3: var(--gray-a3);
		--color-gray-a4: var(--gray-a4);
		--color-blue-1: var(--blue-1);
		--color-blue-2: var(--blue-2);
		--color-blue-3: var(--blue-3);
		--color-blue-4: var(--blue-4);
		--color-red-1: var(--red-1);
		--color-red-2: var(--red-2);
		--color-red-3: var(--red-3);
		--color-red-4: var(--red-4);
		--color-green-1: var(--green-1);
		--color-green-2: var(--green-2);
		--color-green-3: var(--green-3);
		--color-green-4: var(--green-4);
		--color-amber-1: var(--amber-1);
		--color-amber-2: var(--amber-2);
		--color-amber-3: var(--amber-3);
		--color-amber-4: var(--amber-4);
		--color-purple-1: var(--purple-1);
		--color-purple-2: var(--purple-2);
		--color-purple-3: var(--purple-3);
		--color-purple-4: var(--purple-4);
		--color-sky-1: var(--sky-1);
		--color-sky-2: var(--sky-2);
		--color-sky-3: var(--sky-3);
		--color-sky-4: var(--sky-4);
		--color-yellow-1: var(--yellow-1);
		--color-yellow-2: var(--yellow-2);
		--color-yellow-3: var(--yellow-3);
		--color-yellow-4: var(--yellow-4);
		--color-pink-1: var(--pink-1);
		--color-pink-2: var(--pink-2);
		--color-pink-3: var(--pink-3);
		--color-pink-4: var(--pink-4);
		--color-orange-1: var(--orange-1);
		--color-orange-2: var(--orange-2);
		--color-orange-3: var(--orange-3);
		--color-orange-4: var(--orange-4);
		--color-blue-a1: var(--blue-a1);
		--color-blue-a2: var(--blue-a2);
		--color-blue-a3: var(--blue-a3);
		--color-blue-a4: var(--blue-a4);
		--color-red-a1: var(--red-a1);
		--color-red-a2: var(--red-a2);
		--color-red-a3: var(--red-a3);
		--color-red-a4: var(--red-a4);
		--color-green-a1: var(--green-a1);
		--color-green-a2: var(--green-a2);
		--color-green-a3: var(--green-a3);
		--color-green-a4: var(--green-a4);
		--color-amber-a1: var(--amber-a1);
		--color-amber-a2: var(--amber-a2);
		--color-amber-a3: var(--amber-a3);
		--color-amber-a4: var(--amber-a4);
		--color-purple-a1: var(--purple-a1);
		--color-purple-a2: var(--purple-a2);
		--color-purple-a3: var(--purple-a3);
		--color-purple-a4: var(--purple-a4);
		--color-sky-a1: var(--sky-a1);
		--color-sky-a2: var(--sky-a2);
		--color-sky-a3: var(--sky-a3);
		--color-sky-a4: var(--sky-a4);
		--color-yellow-a1: var(--yellow-a1);
		--color-yellow-a2: var(--yellow-a2);
		--color-yellow-a3: var(--yellow-a3);
		--color-yellow-a4: var(--yellow-a4);
		--color-pink-a1: var(--pink-a1);
		--color-pink-a2: var(--pink-a2);
		--color-pink-a3: var(--pink-a3);
		--color-pink-a4: var(--pink-a4);
		--color-orange-a1: var(--orange-a1);
		--color-orange-a2: var(--orange-a2);
		--color-orange-a3: var(--orange-a3);
		--color-orange-a4: var(--orange-a4);
	}

	body {
		@apply bg-background;
	}
}
